# Dépendances
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Environnement — JAMAIS de secret dans le dépôt (§13.5)
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.db-journal

# Tests
coverage/
test-results/
playwright-report/
.vitest/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Turbo
.turbo/

# Terraform — tfstate contient des secrets en clair
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!*.tfvars.example
